{% extends "layout.html" %}
{% block body %}
  <h2>Create account</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('accounts.create_account') }}" method=post>
    <dl>
      <dt>First name:
      <dd><input type=text name=first_name>
      <dt>Last name:
      <dd><input type=text name=last_name>
      <dt>Email:
      <dd><input type=text name=email>
      <dt>Username:
      <dd><input type=text name=username>
      <dt>Password:
      <dd><input type=password name=password>
      <dd><input type=submit value=Create>
    </dl>
  </form>
{% endblock %}