{% extends "layout.html" %}
{% block childimport %}
    <script src={{url_for('static', filename='js/chessboard-0.3.0.js')}}></script>
    <script src={{ url_for('static', filename='js/gameplay.js')}}></script>
    <script src={{ url_for('static', filename='js/chess.js')}}></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/chessboard-0.3.0.css')}}"/>
{% endblock %}
{% block body %}

    <div id="gameid">{{ gameid }}</div>
    <div id="orientation" style="visibility: hidden;">{{ orientation }}</div>
    <script>
        var board;
        var chess;
    </script>
    <div id="board" style="width: 500px"></div>
    <button id="move_button" onclick="sendBoardState()">Submit!</button>
    <div id="test_move"></div>
{% endblock %}