{% extends "layout.html" %}
{% block childimport %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/chessboard-0.3.0.css')}}"/>
{% endblock %}
{% block body %}

    <h1>Games in play:</h1>
    <ol>
        {% for game in games %}
        <li><a href={{url_for('games.render_game', gameid=game[0])+'?color='+game[2]}}>
            {{ game[0] }}
            </a> <br /> Last move: {{ game[1] }} Opponent: {{ game[3] }}
        </li>
        {% endfor %}
    </ol>

{% endblock %}