{% extends "layout.html" %}
{% block body %}
  <h2>Invite</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('games.create') }}" method=post>
    <dl>
      <dt>Invite to game:
      <dd><input type=text name=username>
        <dd><input type="radio" name="color" value="white"> White<br></dd>
        <dd><input type="radio" name="color" value="black"> Black<br></dd>
      <dd><input type=submit value=Invite>
    </dl>
  </form>
{% endblock %}