<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}

    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}"/>
    <title>Magic Internet Chess</title>
    {% endblock %}
    {% block childimport %}
    {% endblock %}
</head>
<body>
    {% block scripts %}
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    {% endblock %}

        {% block navigation %}
        <!-- Static navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-header">
                        <a href="#" class="navbar-brand">e-chess</a>
                    </div>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                        {% if selected_menu_item == "index" %}
                        <li class="active"><a href="#">Home</a></li>
                        {% else %}
                        <li><a href="{{url_for('home.page_index')}}">Home</a></li>
                        {% endif %}

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Games <span class="caret"></span></a>
                            <ul class="dropdown-menu">

                            {% if selected_menu_item == "newgame" %}
                            <li class="active"><a href="#">New Game</a></li>
                            {% else %}
                            <li><a href="{{url_for('games.invite')}}">New Game</a></li>
                            {% endif %}

                            {% if selected_menu_item == "summary" %}
                            <li class="active"><a href="#">View All</a></li>
                            {% else %}
                            <li><a href="{{url_for('games.list_games')}}">View</a></li>
                            {% endif %}

                            </ul>
                        </li>


                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Account <span class="caret"></span></a>
                            <ul class="dropdown-menu">

                                {% if request.cookies.get('ca_session') == None %}
                                    {% if selected_menu_item == "login" %}
                                    <li><a href="#">login</a></li>
                                    {% else %}
                                    <li><a href="{{url_for('accounts.login')}}">Login</a></li>
                                    {% endif %}
                                    {% if selected_menu_item == "register" %}
                                    <li><a href="#">Register</a></li>
                                    {% else %}
                                    <li><a href="{{url_for('accounts.register')}}">Register</a></li>
                                    {% endif %}
                                {% else %}
                                    {% if selected_menu_item == "logout" %}
                                    <li><a href="#">logout</a></li>
                                    {% else %}
                                    <li><a href="{{url_for('accounts.logout')}}">Logout</a></li>
                                    {% endif %}
                                {% endif %}


                            </ul>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
        </nav>
        {% endblock %}

      {% block body %}{% endblock %}

</body>